html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}

/* style */

* {
  box-sizing: border-box
}
body {
  background-image: url(img/bgimg.png);
  font-family: Verdana, sans-serif;
  margin: 0  
}
.mySlides {
  display: none
}
img {
  vertical-align: middle;
}
.slideshow-container {
  max-width: 630px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  border-radius: 10px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.backContainer {
  width: 800px;
  margin: auto;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, red, aliceblue);
}

.header {
  display: flex;
  width: 780px;
  height: 80px;
  background-image: linear-gradient(to left,  #FF0D0D, aliceblue);
  align-items: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Caladea, arial;
  font-size: 30px;
  font-weight: 700;
}

.fonttebal {
  font-weight: 700;
}

.judul {
  display: flex;
  width: 690px;
  height: 60px;
  background-image: linear-gradient(to left,  #FD1B1C, aliceblue);
  align-items: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Caladea, arial;
  font-size: 20px;
  font-weight: 700;
}

.judul p {
  margin-left: 10px;
}

.judul1 {
  display: flex;
  width: 600px;
  height: 60px;
  background-image: linear-gradient(to left,  #FD2627, aliceblue);
  align-items: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Caladea, arial;
  font-size: 20px;
  font-weight: 700;
}

.judul1 p {
  margin-left: 10px;
}

.judul2 {
  /* display: flex; */
  width: 500px;
  height:100px;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Carlito, arial;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: black;
  background-image: linear-gradient(to left,  #FB3B3C, aliceblue);
  margin-bottom: 30px;
}

.judul3 {
  display: flex;
  width: 500px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Carlito, arial;
  font-size: 15px;
  font-weight: 700;
  color: black;
  background-image: linear-gradient(to left,  #FB4C4E, aliceblue);
}

.runningtext {
  font-size: 20px;
  font-weight: 400;
  font-family: Carlito, arial;
}

/* .carousel-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border: solid #0277bd 10px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .carousel {
    display: flex;
    width: fit-content;
    height: 100%;
    animation: slide 20s linear infinite;
    cursor: pointer;
  }
  
  .carousel:hover {
    animation-play-state: paused;
  }
  
  .carousel-image {
    width: 550px;
    flex-shrink: 0;
    overflow: hidden;
  }
  
  .carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-550px * 5));
    }
  } */

  .tabelGambar {
    /* border: solid 3px; */
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
  }

  .tabelGambar .tabelPic {
    width: 150px;
  }

  .tabelId{
    width: 730px;
    margin: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Carlito, arial;
  }

  .tabelId .kolomA {
    width: 150px;
  }

  .tabelId .kolomB {
    padding-left: 30px;
    padding-right: 10px;
  }

  .tabelId .kolomB .tebal {
    font-size: 25px;
      font-weight: 700;
  }

  .tabelId .kolomB .tebal1 {
    font-size: 18px;
      font-weight: 700;
  }

  .tabelId .kolomB .subList {
      margin-left: 15px;
      font-size: 14px;
  }

  .footer {
    text-align: center;
    margin-top: 50px;
  }

  .tombKanan a {
    display: flex;
    justify-content: center;
  }

/* style challengesPages */

.backHariSenin {
  width: 800px;
  margin: auto;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, red, aliceblue);
  font-family: caladea;
}

section {
  margin-top: 30px;
  text-align: center;
}

section img {
  margin-bottom: 20px;
  margin-top: 50px;
}

.subJudul {
  font-family: carlito;
}

.imgHeader {
  margin-bottom: 80px;
}

.assignments {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-family: carlito;
}

.assignInside a {
  text-decoration: none;
  color: greenyellow;
  text-shadow: 1px 1px 1px black;
  transition: cubic-bezier(1, 0, 0, 1)
}

.assignInside a h4{
  margin-top: -20px;
}

.assignInside a:hover {
  text-decoration: none;
  color: snow;
  text-shadow: 1px 1px 1px black;
}

.assignInside a img:hover {
  transform: scale(1.1);
}
